<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
        {{>header}}
            
            <div class="hero">
				<div class="container">
					<h1 style ='color: black;'>Version 1.0.1 Initial Upload by Roman Falzon</h1>
				</div>
			</div>
        {{>footer}}
        {{>scriptp}}
    </body>
</html> 