<!DOCTYPE html>
<html>
    <head>
        {{>head}}
        
        
    </head>
    <body>
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
        <div class="site-content"></div>
            {{>header}}
            <div class="hero" data-bg-image="images/city.jpg">
				<div class="container">
					<form action="#" class="find-location">
						<input type="text" placeholder="Find your location...">
						<input type="submit" value="Search">
					</form>

				</div>
			</div>
            {{>forecastTable}}
        
            {{>footer}}
    </div>
            <script src="/js/appWeather.js"></script>
           
    </body>
</html> 