

<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Roman Falzon</h1>
							<small class="site-description">{{title}}</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li id="homepage" class="menu-item"><a href="/">Home</a></li>
							<li id="about" class="menu-item"><a href="/about">About</a></li>
							<li id="help" class="menu-item"><a href="/help">Help</a></li>
							<li id="weather" class="menu-item"><a href="/">Weather</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
</div> <!-- .site-header -->